<div class="prehead">
&nbsp;
</div>
<div class='headmenutop'>
&nbsp;<img src="/assets/icon-aac-white.png" alt="Adam Axe.com Home" /><a href='http://adamaxe.github.io' title='Home'>Home</a>
&nbsp;<a href='/projects.html' title='Projects'>Projects</a>
&nbsp;<a href='/about' title='About'>About</a>
</div>
<div class='headmenu'>
&nbsp;<img src="/assets/icon-linkedin.png" alt="LinkedIn" /><a href='http://www.linkedin.com/in/adamaxe' title='LinkedIn'>LinkedIn</a>
&nbsp;<img src="/assets/icon-xbox.png" alt="Adam Axe Xbox" /><a href='https://account.xbox.com/Profile?xr=mebarnav' title='Adam Axe Xbox Live Profile'>Xbox Live</a>
&nbsp;<img src="/assets/icon-github.png" alt="Adam Axe Github" /><a href='http://www.github.com/adamaxe' title='Adam Axe Github'>Github</a>
</div>
