---
---
/*
style.scss

Default SASS Cascading Style Sheet for layout
*/

$font-stack:    futura, 'century gothic', helvetica, sans-serif;
$color-white:			#FFFFFF;
$color-black:			#000000;
$color-offwhite:		#eeeeee;
$color-grey:			#9F9DA6;
$color-darkgrey:		#717271;
$color-blue:			#3370A2;
$color-red:				#BA181B;
$color-lightgreen:		#C5DECD;
$color-green:			#3B7080;
$color-darkgreen:		#394648;
$color-orange:			#F96900;
$color-gold:			#FFCF00;

/*Default styles*/
body {
	background-color: $color-darkgreen;
	font-family:	$font-stack;
	margin:		0 1vw 0;
	background-attachment: fixed;
	color: $color-lightgreen;

}

img {
	border-style:	none;
}

div {
}

h1 {
	margin-top:	0px;
	margin-bottom:	0px;
	text-align:	center;
	padding:	0px;
}

h2 {
	margin-top: 0px;
	margin-bottom: 0px;
	color: $color-darkgrey;
	padding: 0px;
	font-size: 14pt;
	font-family: $font-stack;
	text-shadow: $color-black 1px 2px 2px;
	padding-top: 5px;
	padding-bottom: 8px;
}

h2:first-letter {
	display: block;
	font-size: 130%;

	font-family: $font-stack;
	font-smooth: always;
	padding-left: 5px;
	padding-right: 1px;


}

h3 {
	background-image: url("/assets/swatch-red.png");
	background-position: left top;
	background-repeat: no-repeat;
	margin-top: 0px;
	margin-left: 5px;
	margin-bottom: 0px;
	color: $color-white;
	padding: 0px;
	font-size: 14pt;
	font-family: $font-stack;
	text-shadow: $color-darkgrey 1px 2px 1px;
	padding-top: 5px;
	padding-bottom: 8px;
	padding-left: 20px;
}

p {
	display: block;
	font-family: $font-stack;
}

a {
	font-family: $font-stack;
	color: $color-darkgrey;
}

a:hover {
	color: $color-white;
}

p.small {
	font-size: 80%;
	padding: 0px;
	margin-top: 0px;
	margin-bottom: 0px;
}

ul li {

	list-style-image: url("/assets/bullet-aac.png");

}

/*Custom styles

Header
*/

img.logoban {
	display: block;
	max-width: 100%;
}

div.prehead{

	margin-top: 12px;
}
div.headmenutop {
	position: fixed;
	right: 0px;
	top: 10px;
	background-color: $color-blue;
	display: block;
	text-align: right;
	font-weight: bold;
	padding-right: 5px;
	padding-left: 5px;
	padding-bottom: 4px;
	vertical-align: top;
	padding-top:	5px;
	z-index:	1;
}
div.headmenutop > a {
	text-decoration: none;
	color: $color-white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.headmenu {
	background-color: $color-grey;
	display: block;
	text-align: left;
	padding-right: 5px;
	padding-bottom: 4px;
	vertical-align: top;
	padding-top:	8px;
	height: 20px;
}
div.headmenu > a {
	text-decoration: none;
	color: $color-white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.headhighlight {
	background-image: url("/assets/swatch-blue.png");
	background-position: center;
	background-repeat: no-repeat;
	color: $color-white;
	background-repeat: no-repeat;
}

div.headmenutop > a:hover {
	background-image: url("/assets/swatch-grey.png");
	background-position: center;
	background-repeat: no-repeat;
	color: $color-white;
	background-repeat: no-repeat;
}

div.headmenu > a:hover {
	background-image: url("/assets/swatch-blue.png");
	background-position: center;
	background-repeat: no-repeat;
	color: $color-white;
	background-repeat: no-repeat;
}

/*Content body*/
div.bodysection {
	width: 100%;
	border: none;
	display: flex;

}

div.menudef{

	border: none;
	width: 20%;
	vertical-align: top;
	padding-top: 5px;
	align: center;

}

div.contentdef{

	border: none;
	width: 100%;
	padding-top: 5px;
	padding-left: 10px;
	vertical-align: top;
}

div.aacmain {
	display: block;
	padding-left:	5px;
}

div.aacmain > p:first-letter {
	font-size: 300%;
	color: $color-blue;
	font-family: $font-stack;
	font-smooth: always;
	padding-right: 5px;
	display: block;
	float: left;

}

div.menu {

	display: block;
	padding: 1px;
	border-style: solid;
	border-color: $color-blue;
	border-top-width: 0px;
	border-bottom-width: 0px;
	border-left-width: 0px;
	border-right-width: 2px;
}

div.menuwrap {

	width: 100%;
	display: block;
	clear: both;
	float: left;
	padding-right: 10px;
	padding-bottom: 10px;
}

div.menu > a {
	text-decoration: none;
	color: $color-grey;
	font-size: 80%;
	display: block;
	text-indent: 20px;
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-bottom: 2px;
}

div.menu > a:hover {
	color: $color-lightgreen;
	background-repeat: no-repeat;
}

img.uclogo {

	float: right;
}

img.responsive {
	max-width: 100%;
	height: auto;
}

/*Footer*/

div.foot {
	background-image: url("/assets/footer-aac.png");
	background-repeat: no-repeat;
	background-position: center;
	height: 50px;
	font-family: $font-stack;
	text-align: center;
	color: $color-white;
	padding: 25px 10px 0px 35px;
}

div.foot > a {
	color: $color-white;
}

div.footmenu {
	background-color: $color-blue;
	display: block;
	text-align: center;
	margin-top: 10px;
	margin-bottom: 10px;
	padding-right: 5px;
	padding-bottom: 4px;
	vertical-align: top;
	padding-top: 8px;
	color: $color-white;
}
div.footmenu > a {
	text-decoration: none;
	color: $color-white;
	padding-left: 5px;
	padding-right: 5px;
	padding-top: 10px;
	padding-bottom: 10px;
}

div.validator {
	text-align: center;
	font-size: 8pt;
}

div.validator > a > img {
	border-width: 0px;
}

#sidenav ul{
	width: 20%;
	background-color: $color-offwhite;
}

#sidenav li {
	width: 10%;
	list-style: none;
	position: relative;
	vertical-align: bottom; /* IE5 */
}

#sidenav ul a {
	vertical-align: bottom; /* IE5 */
	text-decoration: none;
	font-weight: normal;
	color: $color-offwhite;
	font-size: 80%;
	display: block;
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-bottom: 2px;
}

#sidenav ul a:hover {
	font-weight: normal;
	color: $color-orange;
	background-repeat: no-repeat;
}

#sidenav ul ul {
	border-top: 1px solid $color-red;
	border-left: 1px solid $color-red;
	border-right: 1px solid $color-red;
	border-bottom: 1px solid $color-red;
	left: -3000px;
	background: $color-white;
	position: absolute;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 20px;
}

#sidenav ul li:hover ul {
	left: 4em;
	top: 4px;
}

#sidediversions ul {
	width: 8em;
	background: $color-white;
	padding-left: 40px;
}

#sidediversions li {
        list-style: none;
        position: relative;
        vertical-align: bottom; /* IE5 */
}

#sidediversions ul a {
	vertical-align: bottom; /* IE5 */
	font-weight: normal;
	text-decoration: none;
	color: $color-grey;
	font-size: 80%;
	display: block;
	background-repeat: no-repeat;
	background-position: 0px 3px;
	padding-bottom: 2px;
}

#techtable {
	border-width: 2px;
	border-color: $color-grey;
	background: $color-white;
	width: 90%;
}
#techtable a img {
	border:	0;
}

#techtable td {
	text-align: center;
}

.mediumtype {
	font-size:	80%;
}

.smalltype {
	font-size:	25%;
}

.bold {
	font-weight:	bold;
}

